[submodule "helios_controllers"]
	path = helios_controllers
	url = https://e.coding.net/swjtuhelios/heliosrobotsystem/helios_controllers.git
[submodule "helios_hw"]
	path = helios_hw
	url = https://e.coding.net/swjtuhelios/heliosrobotsystem/helios_hw.git
